<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="js/stom-client.js"></script>
    <script>

        var client ={};

        $( document ).ready(function(){




                const userId = $("#user").val();
                client = new StompClientJS("http://127.0.0.1:8080/ws?user=" + userId);

                client.on("receive", function (msg) {

                    document.getElementById('messagebox').innerHTML += `${msg.message}\n`;
                });






<!--            const clients = [];-->

<!--            for (let i = 1000; i < 1050; i++) {-->
<!--                const userId = 1000 + i;  // Unique user IDs like 1000, 1001, ...-->
<!--                const client = new StompClientJS("http://127.0.0.1:8080/ws?user=" + i);-->

<!--                client.on("receive", function (msg) {-->

<!--                    document.getElementById('messagebox').innerHTML += `${msg}\n`;-->
<!--                });-->

<!--                clients.push(client);-->
<!--            }-->


        });




        function send(){
            client.send(
             JSON.stringify({
                message: $("#message").val(),
                ack : false,
                type: "HTML",
                recipientId: $("#client").val(),
                sender: $("#user").val()
             })
             );

        }


    </script>

</head>
<body>
<input type="hidden" id="user" th:value="${user}"/>

<span th:text="${user}">Message box :: </span>
<div id="messagebox">

</div>


<div>
    <label for="client">Client</label>
    <input type="text" id="client" />
    <label for="message">Message</label>
    <input type="text" id="message" />
    <input type="button" onclick="send();" value="Send">
</div>
</body>
</html>